body {
  margin: 0;
  background-color: #58a3e4;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url(/index-img/fondo-principal.png);
}

header.page-head {
  background-color: #ff7f50b9;
  margin: 0px;
  background-size: cover;
}

header img {
  width: 100px;
  float: left;
}

header h1 {
  padding: 15px;
  font-size:300%;
  text-align:center;
}

header img:hover {
  width: 125px;
}

article {
  padding-bottom: 300px;
}

footer {
  background-color: blueviolet;
  padding: 50px;
  color: antiquewhite;
}

a {
  color: #f53cb7e0;
  font-size: larger;
  font-weight: bolder;
}

a:hover {
  color: blueviolet;
  font-size: 150%;
}

hr {
  border-top: 3px solid rgb(221, 221, 14);
}
 
nav ol {
  margin:0;
  padding:0;
  list-style:none;
}

nav li {
  display:inline-block;margin-left:50px
}

/*Index special CSS*/
section.index-mila {
  float: right;
  margin: 0px;
  margin-top: 50px;
  padding: 300px;
  background-image: url(/index-img/milanesa-hornamentada.jpg);
  background-size: cover;
  border-radius: 10%;
}

section.tecolotes-mila {
  float: right;
  margin: 0px;
  margin-top: 50px;
  padding: 300px;
  background-image: url(/index-img/alska-iluminada.jpg);
  background-size: cover;
  border-radius: 10%;
}


